

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --color-primary: #0072cf;
  --color-dark: #0E2431;
  --color-white: #FFFFFF;
  --transition: .6s ease;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--color-dark);
  background: var(--color-white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 130%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 44px;
  position: relative;
  width: fit-content;
  text-align: center;
  color: var(--color-primary);
  margin: auto;
  padding-top: 6rem;

}

h2::after {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--color-primary);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 19px;
  line-height: 150%;
}

img {
  width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 19px;
  font-weight: 500;
  padding: 14px 32px;
  border-radius: 10px;
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-dark);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Start nav Bar */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  display: grid;
  place-items: center;
}

.nav-scroll {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 10;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0px 30px 0px 88px;
  background: #fff;
}

.logo {
  border-radius: 50%;
}

.logo h3 {
  color: var(--color-dark);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links a {
  color: var(--color-dark);
  font-size: 19px;
  font-weight: 500;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--color-dark);
  left: 0;
  bottom: -8px;
}

nav button {
  display: none;
}

/* sun and moon button */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

/* End nav Bar */


/* Start header section */
#Home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.header-container {
  background-image: url('./img/My-Portfolio-pic/bg1.png');
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 48% 49%;
  gap: 2%;
  align-items: center;
  margin: 0 auto;
}

.header-left {
  margin-left: 5rem;
}

.social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social a {
  font-size: 45px;
  color: var(--color-primary);
  text-shadow: var(--box-shadow);
  transition: var(--transition);
}

.social a:hover {
  color: var(--color-dark);
}

.header-info span {
  color: var(--color-primary);
}

.header-info p {
  margin-top: 1rem;
  font-size: 20px;
}

.header-info .btn {
  margin-top: 2.2rem;
}

.header-right img {
  border-radius: 10px;
}

/* End header section */


/* Start About Section */
.about-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 36% auto;
  gap: 3rem;
  align-items: center;
}

.about-left {
  padding: 1rem;
}

.about-left img {
  border-radius: 10px;
  width: 100%;
}

.about-right {
  width: 100%;
  height: 40vh;

}

/* End About Section */


/* Start Skills Section */

.skills-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.skills-content p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.skills-content h3 {
  color: var(--color-primary);
}

.skills-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.icon {
  width: 75%;
  height: 72px;
  background-color: #f2f4f4;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}

.icon img {
  width: 60px;
  padding-left: 7px;
  margin-left: 0.6rem;
}

/* experience  */

.experience-div2 {
  width: 100%;
  background-color: #f2f4f4;
  height: 100%;
  padding: 5px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

/* End Skills Section */

/* start certificate section */

.main {
  width: 100%;
  align-items: center;
  justify-content: center;

}

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 4rem;
}

.gallery__item {
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.gallery__item img:hover {
  transform: scale(1.1);
}

@media (max-width: 950px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* created model class in js */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  margin-top: -1px;
  animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.modal img {
  width: 50%;
  object-fit: cover;
}

.closeBtn {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.closeBtn:hover {
  color: rgb(255, 255, 255);
}

/* End certificate section*/


/* experience */
.experience {
  margin-top: 4rem;
}

.experience h3 {
  color: var(--color-primary);
}

.ex li {
  list-style: disc;
  font-size: 19px;
  line-height: 150%;
}

/* Start project Section */
.project-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 2rem; */
  gap: 1rem;
}

.project {
  /* height: 20rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--box-shadow); */
  height: 16rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
}

.project:hover img {
  transform: scale(1.2);
}

.project img {
  object-fit: unset;
  height: 100%;
  transition: var(--transition);
}

.ovely {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: linear-gradient(transparent, var(--color-primary));
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0;
  gap: .5rem;
  color: var(--color-white);
  transition: var(--transition);
}

.project:hover .ovely {
  top: 0;
}

.service-button {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-top: 2rem;
  margin-left: 8rem;
}

.btn1 {
  font-size: 24px;
  transition: var(--transition);
  display: inline-block;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 10px;
  background: #18acd9;
  color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.btn1 a {
  color: var(--color-white);
}


/* End project Section */


/* Start Contact Section */

#Contact {
  background-color: #f4f7f7;
  margin-top: 4rem;
}

.contact-container {
  margin-top: 4rem;
  width: 50%;
}

input,
textarea {
  width: 100%;
  border: 2px solid var(--color-dark);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  resize: none;
  font-size: 19px;
}


.contact-btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 500;
  padding: 14px 32px;
  border-radius: 10px;
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}


/* End Contact Section */


/* Start Footer Section */
footer {
  margin-top: 6rem;
  padding: 2rem;
  background: var(--color-dark);
  color: var(--color-white);
  text-align: center;
}

.footer-social {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-social a {
  font-size: 24px;
  color: var(--color-white);
  text-shadow: var(--box-shadow);
}

.footer-social a:hover {
  color: var(--color-primary);
}

/* End Footer Section */


/* Start Media screen */

/* max-width: 1200px */
@media(max-width:1200px) {

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }
}

/* max-width:1024 */
@media(max-width:1024px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  .service-button {
    margin: auto;
    width: 100%;
    margin-left: 0px;
  }

  .btn1 {
    width: fit-content;
  }
}

/* max-width:991px */

@media(max-width:991px) {

  /* start nav */
  .nav-links {
    position: absolute;
    right: -100%;
    top: 5rem;
    background: var(--color-dark);
    flex-direction: column;
    width: 18rem;
    height: 100vh;
    gap: 0;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.9);
    transition: var(--transition);
  }

  .toggle {
    right: 0;
  }

  .nav-links li {
    width: 100%;
    padding: 2rem;
  }

  .nav-links li a {
    color: var(--color-white);
    display: inline-block;
    width: 100%;
    text-align: center;

  }

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 26px;
    color: var(--color-dark);
  }

  .active::after {
    background: var(--color-white);
  }

  .service-button {
    margin: auto;
    width: 100%;
    margin-left: 0px;
  }

  .service-button {
    margin: auto;
    width: 100%;
    margin-left: 0px;
  }

  .btn1 {
    width: fit-content;
  }

  .btn1 {
    width: fit-content;
  }

  /* start header */

  #Home {
    min-height: 80vh;
  }

  .header-container {
    gap: 0;
  }


  /* start about */

  .about-container {
    gap: 2rem;
  }

  .about-left {
    padding: 0;
  }

  .about-right {
    height: 100%;
  }

  .about-right p {
    width: 100%;
  }

  /* start skills */
  .skills-icon {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .icon {
    width: 100%;
  }

  /* start work */

  .project-container {
    gap: 20px;
  }

  /* start contact */
  .contact-container {
    width: 60%;
  }

  .service-button {
    margin: auto;
    width: 100%;
    margin-left: 0px;
  }

  .btn1 {
    width: fit-content;
  }
}

/* max-width:768px */
@media (max-width:768px) {

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 29px;
  }

  h4 {
    font-size: 22px;
  }

  /* start header */
  #Home {
    min-height: fit-content;
  }

  .header-container {
    grid-template-columns: 1fr;
  }

  .header-right {
    grid-row: 1;
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
  }

  .header-left {
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .header-info .btn {
    margin-bottom: 1rem !important;
  }

  .social {
    flex-direction: row;
    justify-content: center;

  }

  /* start about */
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-left {
    width: 80%;
    margin: 0 auto;

  }

  .about-left img {
    width: 100%;
  }

  .about-right h3 {
    text-align: center;
  }

  .about-right p {
    text-align: center;
    justify-content: center;
  }

  /* start skill */

  #skills {
    min-height: fit-content;
    width: 100%;
  }

  .skills-content h3 {
    text-align: center;
  }

  .skills-content p {
    text-align: center;
    justify-content: justify;
  }

  .skills-icon {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: -1rem;
  }

  .icon {
    width: 100%;
  }

  .service-button {
    margin-left: auto;
    margin-top: 4rem;
  }

  /* certificate container */
  .certificate-container img {
    height: 80%;

  }

  .certificate {
    margin-bottom: -4rem;
  }

  /* start work */
  .project-container {
    grid-template-columns: 1fr;
  }

  /* start contact */
  .contact-container {
    width: 90%;
  }
}

/* min-width:600 */

@media(max-width:600px) {

  .skills-icon {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: 0.8rem;
  }

  .icon {
    width: 100%;
  }

  .icon img {
    margin-left: -0.4rem;
  }

  .service-button {
    margin-left: 4rem;
    width: 100%;
  }

  .btn1 {
    width: fit-content;
  }

  .certificate-container {
    grid-template-columns: 1fr;
  }

  .certificate-container img {
    width: 100%;
    text-align: center;
  }

}



/* End Media screen */